@media screen and (max-width: 1000px) and (min-width: 480px)  {
  #wrapper {
    overflow: hidden;
  }

  /* HEADER */

  .header__container {
    max-width: 810px;
    width: 90%;
    margin: 0 10%;
  }

  .header-list__items {
    display: none;
  }

  /* MAIN */

  .background-img {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("./assets/background.png") no-repeat center center;
    background-size: cover;
  }

  main {
    /* height: 9785px; */
  }

  /* PREVIEW */

  .preview {
    margin: 0 auto;
    height: 743px;
  }

  .preview__wrapper {
    width: 100%;
  }

  .preview__title {
    max-width: 700px;
    width: 90%;
    height: auto;
  }

  .preview__paragraph {
    width: 442px;
    height: 56px;
  }

  /* ВЫБЕРИ СВОЙ ТУР */

  .choose-your-tour__list {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: auto;
  }


  .choose-your-tour__cards {
    margin: 0 auto;
    width: calc(100% - 53px);
    height: auto;
    justify-content: space-around;
  }

  .choose-your-tour__card {
    max-width: calc(90% / 2);
    min-width: 318px;
    max-height: 318px;
    width: 100%;
    border-radius: 50px;
  }

  .card-paragraph__container {
    word-wrap: normal;
    width: 100%;
  }

  /* СОБЕРИ СВОЙ ТУР */

  .collect-your-tour_wrapper {
    max-width: 918px;
    width: calc(100% - 120px);
    padding: 0 60px;
    height: 1225px;
    gap: 100px;
  }

  /* ФОРМА  */


  /* FOOTER */
  .footer__container {
    max-width: 910px;
    width: 100%;
    margin: 0 calc(100vw / 20);
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-list__icons {
    max-width: 419px;
  }
}
@media screen and (max-width: 820px) {
  h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    letter-spacing: 0.02em;
  }

  h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 38.08px;
    letter-spacing: 0.02em;
  }

  h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.04em;
  }

  .p-big {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.72px;
  }

  .p-normal {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
  }

  .p-small {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: -0.01em;
  }
}